<div class="container-fluid">
<div class="show-page">
  <br>
<div class="col-md-4">
<div class="show-box-54">

<div class="edit-page">
<h1>Editing Recipe</h1>



<div class="show-buttons">
  <button class="button button1"><%= link_to 'Show', @recipe %></button> |
  <button class="button button1"><%= link_to 'Back', recipes_path %></button>
</div><!--show-buttons-->


<br>
<br>

</div><!--edit-page-->
      <%= render 'form', recipe: @recipe %>
      <br>
      <br>
</div><!--show-box-54-->
<br>
<br>

</div><!--col-md-4-->
</div><!--show-page-->
</div><!--/container-->
