



<div class="container-fluid">
<div class="show-page">
<div class="col-md-4">
<div class="show-box-2">

    <h1>New Recipe</h1>


      <%= render 'form', recipe: @recipe %>
      <br>
      <br>
      <button class="button button1"><%= link_to 'Back', recipes_path %></button>
</div><!--show-box-2-->
</div><!--col-md-4-->
</div><!--show-page-->
</div><!--/container-->
